body {
  font-family: 'Montserrat', sans-serif;
}

.logo {
  background-color: #0D122B;
  padding: 10px;
  color: white;
  text-align: center;

}

div.header {
  position: absolute;
  left: 20%;
  width: 60%;
  height: 20%;
  font-size: 26px;
}

div.menu {
  position: absolute;
  left: 20%;
  top: 10%;
  width: 60%;
  height: 10%;
}

div.content {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
}

div.content p {
  font-size: 20px;
}

li.a {
  padding: 10px;
  list-style-type: square;
  font-weight: bold;
}	
li.b {
  padding: 10px;
  list-style-type: disc;
}	
div.footer {
  position: absolute;
  left: 20%;
  padding: 5px;
  text-align: center;
  top: 80%;
  width: 60%;
  height: 10%;
}

div.content-cadastro {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
  /*border-style: solid;*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

table.cadastro {
  border: 1px solid black;
  border-spacing: 25px;
  border-radius: 10px;
}

table.cadastro tr {
  border: 1px solid black;
  border-spacing: 25px;
  border-radius: 10px;
}
.botao{
    /*background-color: #2196F3;*/
    background-color: #0D122B;
    border: none;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.5s ease;
}
.botao:hover{
    background-color: #2196F3;
}

.message {
  padding: 10px;
  margin: 5px;
  background-color: #f3f3f3
}

.alert {
  padding: 20px;
  margin: 5px;
  color: #970020;
  background-color: #ffd5de;
}

.btn-paginacao {
  list-style-type: none;
  display: flex;
  padding: 0;
  width: max-content;
  margin: 30px auto;
}


.btn-paginacao li, .btn-paginacao button {
  padding: 5px 11px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  cursor: pointer;
  border-radius:50px;
  margin:5px;
  transition: .3s;
}
.btn-paginacao li.ativaPag, .btn-paginacao li:hover, .btn-paginacao button.ativaPag, .btn-paginacao button:hover {

  background-color: #004fea;
  border: 1px solid #004fea;
  color: #fff;
  transition: .3s;
}