<!DOCTYPE html>
<html>
    <body>
        {% extends "acesso.html" %}
        {% block content %}
        <div id="content-cadastro" class="content-cadastro">
            <form clas="form-horizontal" method="POST" align="center">
            {{ form.csrf_token() }}
                <div id="content-cadastro" class="content-cadastro">
                    <table id="customers">
                        <tr>
                            <th colspan="2" align="center">Erro ao Realizar Cadastro.</th>
                        </tr>
                        <tr>
                            <td> {{ form.titulo.label }}</td>
                            <td> {{ form.titulo.data }}</td>
                        </tr>
                        <tr>
                            <td> {{ form.autor.label }}</td>
                            <td> {{ form.autor.data }}</td>
                        </tr>
                        <tr>
                            <td> {{ form.exemplares.label }}</td>
                            <td  class="alert"> {{ form.exemplares.data }} Números de Exemplares deve ser maior que 0.</td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center">{{ form.submit_voltar(class="botao", value="Voltar") }}</td>
                        </tr>       
                    </table>
                </div>    
            </form>
	    </div>
        {{ titulo_pesq }}
        {% endblock %}
  </body>
</html>